@import "~materialize-css/sass/materialize";

$font-stack: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/materialicons.woff2) format('woff2');
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  font-family: $font-stack;
}

.header-row {
  position: relative;
  background-image: url(../img/wall4.png);
}

.main-row {
  height: calc(100vh - 200px);
}

.logo-row {
  min-height: 200px;
  justify-content: center;
}

.navigation-row {
  background-color: rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  height: 45px;
  justify-content: center;

  .mdl-navigation__link {
    line-height: 42px;
    color: rgb(66, 66, 66) !important;

    &.is-active {
      position: relative;
      font-weight: bold;

      &::after {
        content: "";
        width: 70%;
        height: 2px;
        display: block;
        position: absolute;
        bottom: 0;
        background-color: #3e77e6;
        left: 15%;
      }
    }
  }
}